<!-- <div *ngFor="let date of custom | keyvalue">
  <h2>{{date.key}}</h2>
  <div *ngFor="let uti of custom[date.key]">
    <p>{{ uti.utility }} - {{ uti.amount }}</p>
  </div>
</div> -->
<div class="card bg-success m-2">
  <div class="card-body text-center">
    <h5 class="card-title text-white">Total Expense</h5>
    <p class="card-text text-white display-4">{{total}}</p>
  </div>
</div>

<div *ngFor="let date of custom | keyvalue" class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>{{date.key}}</h2>
    </div>
    
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Utility Type</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let uti of custom[date.key]">
        <td>{{ uti.utility }}</td>
        <td>{{ uti.amount }}</td>
      </tr>
    </tbody>
  </table>
</div>
