<div class="container mt-6">
    <span class="sub-heading">HOW IT WORKS</span>
    <h2 class="daily">Your daily finance in 3 simple steps</h2>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <p class="step-number">01</p>
            <h3 class="step-heading">50% for your needs</h3>
        </div>
        <div class="col-md-6">
            <img src="../../../../assets/images/needs.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <img src="../../../../assets/images/wants.jpg" alt="">
        </div>
        <div class="col-md-6">
            <p class="step-number">02</p>
            <h3 class="step-heading">30% for your wants</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p class="step-number">03</p>
            <h3 class="step-heading">20% for your savings and debt repayment</h3>
        </div>
        <div class="col-md-6">
            <img src="../../../../assets/images/save.jpg" alt="">
        </div>
    </div>
</div>