<form #expenseForm="ngForm" class="p-3">
    <div class="form-group">
        <label for="expenseAmount">Expense Amount:</label>
        <input type="number" id="expenseAmount" name="expenseAmount" class="form-control mb-2" [(ngModel)]="amount" required>
        
    </div>
    <div class="form-group">
        <label for="expenseAmount">Utility Type:</label>
        <input type="text" id="utilityType" name="utilityType" class="form-control mb-2" [(ngModel)]="utilityType" required>
        
    </div>

    <button type="submit" class="btn btn-primary" (click)="create()" [disabled]="expenseForm.invalid">Add</button>
</form>
