<div class="container">
    <div class="row">
        <div class="col-md-8">
            <p>
                We believe that everyone can achieve financial freedom with the right tools and knowledge. One of
                the most important concepts in personal finance is the 50/30/20 rule, which is a simple and effective
                way to
                manage
                your finances and achieve your financial goals
            </p>

            <p>
                The 50/30/20 rule is a budgeting strategy that involves dividing your after-tax income into three
                categories:
            </p>

            <ul>
                <li>50% for your needs</li>
                <li>30% for your wants</li>
                <li>20% for your savings and debt repayment</li>
            </ul>

            <p>
                Your needs include essential expenses like rent, utilities, groceries, and transportation. Your wants
                include
                non-essential expenses like dining out, entertainment, and travel. And your savings and debt repayment
                include
                contributions to your emergency fund, retirement savings, and paying down debt.
            </p>

            <p>
                By following the 50/30/20 rule, you can ensure that you're covering your basic needs, enjoying some of
                life's
                pleasures, and saving for your future. It's a balanced approach to personal finance that can help you
                avoid
                debt,
                build wealth, and achieve financial security.
            </p>
        </div>
        <div class="col-md-4 img">
            <img src="../../../../assets/images/hands.jpg" alt="calculator image with hands">
        </div>
    </div>
</div>

<app-working></app-working>