<div class="container" *ngIf="user$ | async as user">
    <div class="row">
        <div class="col-md-3">
            <div class="card" >
                <div class="card-body text-center">
                    <img [src]="user.photoURL" class="rounded-circle mb-3"
                        alt="Your Profile Picture loaded from google account">
                    <h5 class="card-title mb-0"> {{ user.displayName }}</h5>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card">
                <div class="card-body">
                    <form #userForm="ngForm">
                        <div class="form-group">
                            <label for="name">Name:</label>
                            <input type="text" class="form-control" id="name" placeholder="Enter name" [(ngModel)]="name" 
                                disabled>
                        </div>
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" class="form-control" id="email" placeholder="Enter email"
                                value="johndoe@example.com" disabled>
                        </div>
                        <div class="form-group">
                            <label for="phone">Phone number:</label>
                            <input type="tel" class="form-control" id="phone" placeholder="Enter phone number"
                                value="1234567890" disabled>
                        </div>
                        <div class="form-group">
                            <label for="creationTime">Account creation time:</label>
                            <input type="text" class="form-control" id="creationTime"
                                placeholder="Enter account creation time" value="2022-04-22 10:30:00" disabled>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>